* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.section4 {
	background-color: rgb(68, 68, 101);
	display: flex;
	justify-content: center;
	align-items: center;
}
.services-container {
	position: relative;
	width: 1100px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding: 30px;
}
.services-container,
 .services-card {
	position: relative;
	max-width: 300px;
	height: 215px;
	background-color: #fff;
	margin: 30px 10px;
	padding: 20px 15px;
	display: flex;
	flex-direction: column;
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
	transition: 0.3s ease-in-out;
}
.services-container,
 .services-card:hover {
	height: 420px;
}

.services-container,
.services-card,
.imgBox {
	position: relative;
	width: 260px;
	height: 260px;
	top: -60px;
	left: 20px;
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}
.services-container,
 .services-card,
 .imgBox img {
	max-width: 100%;
}