* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--yellow: #ffeb38;
	--font-color: rgb(17, 99, 17);
	/* --font: 'Roboto', sans-serif; */
}
html {
	scroll-behavior: smooth;
}
nav {
	display: flex;
	position: fixed;
	width: 100%;
	top: 0px;
	justify-content: space-around;
	align-items: center;
	min-height: 15vh;
	background-color: #ffeb38;
	font-family: "Roboto", sans-serif;
	z-index: 999;
}
.logo {
	color: var(--font-color);
	text-transform: uppercase;
	letter-spacing: 7px;
	font-size: 30px;
	list-style: none;
	text-decoration: none;
}
.logo a:visited {
	color: var(--font-color);
	text-decoration: none;
}
.logo a:hover {
	color: black;
}
.nav-links {
	display: flex;
	/* background-color: black; */
	justify-content: space-around;
	width: 40%;
	list-style: none;
}
.nav-links a {
	color: var(--font-color);
	text-decoration: none;
	letter-spacing: 2px;

	font-size: 20px;
}
.nav-links a:hover {
	color: white;
}
.nav-links a:active {
	text-decoration: underline;
}
.burger {
	display: none;
	cursor: pointer;
}
.burger div {
	width: 25px;
	height: 2px;
	margin: 5px;
	background-color: var(--font-color);
	transition: all 0.3 ease;
}

@media screen and (max-width: 1024px) {
	.nav-links {
		width: 50%;
	}
}

@media screen and (max-width: 768px) {
	body {
		overflow-x: hidden;
	}
	.nav-links {
		position: absolute;
		right: 0px;
		/* height: 92vh; */
		top: 8vh;
		background-color: var(--yellow);
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 30%;
		transform: translate(100%);
		transition: transform 0.5s ease-in;
	}
	.nav-links li {
		opacity: 0;
	}
	.burger {
		display: block;
	}
}

.nav-active {
	transform: translateX(0%);
}

@keyframes navLinkFade {
	from {
		opacity: 0;
		transform: translateX(50px);
	}
	to {
		opacity: 1;
		transform: translateX(0px);
	}
}

.toggle .line1 {
	transform: rotate(-70deg) translate(-5px, 6px);
}
.toggle .line2 {
	opacity: 0;
}
.toggle .line3 {
	transform: rotate(45deg) translate(-5px, -6px);
}
body {
	background-color: rgb(53, 68, 80);
	height: 100vh;
	transition: all 0.5s ease;
	scroll-behavior: smooth 0.5s;
}

.section1 {
	background: url('../pictures/img/DSCN4543.JPG;');
	min-height: 100vh;
	min-width: 100vh;
	background-size: cover;
	padding: 0rem 5rem;
}
.section1,
.section2,
.section3,
.section4,
.section5 {
	border: 2px solid black;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	margin-top: 60px;
}

.section2 {
	background-color: rgb(53, 68, 80);
}
.section2 h2 {
	padding: 4rem;
	text-decoration: underline;
	font-weight: 500px;
}
.section2 p {
	/* padding: 4rem; */
	color: white;
	letter-spacing: 3px;
}
.gallery {
	width: 90%;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 20px;
	padding: 40px;
}

.pic {
	position: relative;
	height: 220px;
	box-shadow: 2px 2px 4px grey;
}
.pic img {
	width: 100%;
	height: 100%;
}

.section4 {
	background-color: rgb(68, 68, 101);
	display: flex;
	justify-content: center;
	align-items: center;
}
.services-container {
	position: relative;
	width: 1100px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	/* padding: 30px; */
}
.services-container,
 .services-card {
	position: relative;
	max-width: 300px;
	height: 215px;
	background-color: #fff;
	margin: 30px 10px;
	padding: 20px 15px;
	display: flex;
	flex-direction: column;
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
	transition: 0.3s ease-in-out;
}
.services-container,
 .services-card:hover {
	height: 420px;
}

.services-container,
.services-card,
.imgBox {
	position: relative;
	width: 260px;
	height: 260px;
	top: -60px;
	left: 20px;
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}
.services-container,
 .services-card,
 .imgBox img {
	max-width: 100%;
}

.section5 {
	/* background-color: rgb(29, 29, 46); */
}

.about {
	height: 100vh;
	text-align: center;
	width: 70%;
}

/* img {
	width: 90%;
	height: 100vh;
	object-fit: cover;
} */

/* .services {
	height: 100vh;
	text-align: center;
	width: 70%;
} */

.contact {
	height: 100vh;
	text-align: center;
	width: 70%;
}

.bg-active {
	background-color: rgb(68, 68, 101);
}
.card-group {
	height: 80%;
	width: 90%;
}

.form-container {
	position: relative;
	/* left: 20%; */
	width: 100vh;
	height: 100vh;
	background-color: #fff;
}

.contact-form {
	position: absolute;
	top: 10%;
	left: 10%;
	width: 80%;
	height: 600px;
}

input {
	width: 100%;
	margin-top: 2rem;
	border: none;
	border-bottom: 1px solid black;
}
textarea {
	width: 100%;
	margin-top: 2rem;
	/* border: none; */
	border-bottom: 1px solid black;
}
.submit {
	border: 1px solid black;
	padding: 1rem;
	text-align: center;
	background-color: #fff;
	cursor: pointer;
	transition: 0.6 ease-in-out;
}
.submit:hover {
	background-color: rgb(17, 99, 17);
	opacity: 0.6;
}

.section4 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: rgb(39, 39, 74);

}

.wrapper {
    display: flex;
    /* width: 70%; */
    justify-content: space-around;

}

.card {
    width: 280px;
    height: 360px;
    padding: 0;
    margin: 20px;
    /* background: white; */
    position: relative;
    /* display: flex; */
    align-items: flex-end;
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
    transition: 0.5s ease-in-out;

}
.card:hover{
    transform: translateY(20px);
}
.card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(27, 28, 29, 0.5), rgb(196, 213, 127));
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
}
.card:hover:before {
    opacity: 1;
}

.card img {
    width: 100%;
    height: 100%;
	/* margin: auto; */
    object-fit: cover;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	/* grid-gap: 20px; */
	/* padding: 40px; */
}


.info {
    position: relative;
    z-index: 3;
    padding-left: 10px;
    color: black;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
}

.card:hover .info{
    opacity: 1;
    transform: translateY(-220px);
}

.info h1 {
    margin: 0;
}
.info p {
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 20px;
}

.btn {
    text-decoration: none;
    padding: 0.5rem 1rem;
    background: white;
    color: black;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.btn:hover {
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
}
